<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<h1>投稿一覧</h1>
 <% @posts.each do |book| %>
    <p>タイトル</p>
    <span><%= book.title "/posts/#{post.id}" %>    </span>

 <% end %>
